.background{
  background-color: #b1d3e6;
}
body{
  background-color: #d5e0e7;
}
.btn{
  margin-bottom: 2em;
}
.container{
  margin-top: 5%;
  text-align: center;
}
.container-fluid{
    text-align: left;
}
.copywrite{
  margin-bottom: 0;
}
.discription{
  text-align: left;
}
.footer{
  background-color:#3ea9cd;
  text-align: center;
}
.footer-link{
  font-family: Ubuntu-dark;
  font-size: 1.3em;
  font-weight:100;
  color: black;
  text-decoration:none;
}
.footer-link:hover{
  color: white;
  text-decoration: none;
}
.for-id{
  display: none;
}
.github{
  margin-bottom: 4rem;
}
h1{
  margin: 1em auto 0 auto;
  font-family: Montserrat-dark;
  font-size: 3.5em;
  text-align: center;
}
h2{
  margin: 1.5rem;
  font-family: Montserrat-dark;
  text-align: center;
}
.kmit{
  color: #dd5f38;
}
.kmit:hover{
  color: white;
  text-decoration: none;
}
.name{
  margin-top: 0;
    text-align:center;
    font-family: Montserrat-dark;
    font-size: 4rem;
   padding:12rem 0 0 0;
}
.navbar{
  background-color:#d5e0e7;
  padding: 0.5em;
}
.navbar-brand{
  font-family: Montserrat-bold;
  font-size: 2.2rem;
}
.nav-link{
  font-family: Ubuntu-dark;
  font-size: 1.3rem;
}
.pro{
  font-family: Ubuntu-dark;
font-weight: bolder;
font-size: 3rem;
}
p{
  font-size: 1.2rem;
  font-family: Ubuntu-dark;
  padding: 1.5rem;
}
.programer{
  text-align:center;
  font-family: Ubuntu-dark;
  font-weight: lighter;
  font-size: 2.3rem;
  margin: 2em;
}

.tmp{
    height:48rem;
    background-image:url("../Images/white.jpg");
}
